body {
    background-image: url("http://perfometer.org/wp-content/uploads/2015/09/innercowhero-1024x631.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #4CAF50;
}

#calculate{
    font-weight: bolder;
    font-size: large;
    border: none;
    opacity: .75;
    height: 50px;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 15px;
    position: relative;
    top: 160px;


}
#cancel{
    float: right;
    margin-right: 15px;
}

#title{
    width: 40%;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    color: darkslategray;
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    right: 30%;

}
#Aboutushead{
    position: absolute;
    width:30%;
    top:0;
    right: 35%;
    font-size: 100px;
}
#anooshinfo{
    font-size: 30px;
    position: absolute;
    top: 420px;
    left:25%;
}
#exitshow{
    width:5%;
    height:5%;
    border: solid black;
    font-size: 30px;
}
#kaleninfo{
    font-size: 30px;
    position: absolute;
    top: 150px;
    left:25%;
}

#anooshpic{
    height:28%;
    width:21%;
    box-shadow: 3px 3px 3px 3px;
    position: absolute;
    margin-left: 10px;
    top:400px;
}

#kalenpic{
    top:100px;
    height:28%;
    width:21%;
    box-shadow: 3px 3px 3px 3px;
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
}

#aboutusshow{
    height:100%;
    width:100%;
    z-index: 100000;
    background-color: gray;
    position: absolute;
}


#usinfo{
    margin-left: -4px;
}

#home{
    margin-left: -4px;
}
.headerbuttons{
    background-color:black;
    color: white;
    border: none;
    height: 45px;
    position:relative;
    opacity: .75;
    font-size: large;
}
.headerbuttons:hover{
    background-color: gray;

}

#signin{
    margin-right:-4px;
}
#createacc{
    right:0px;
}


#head{
    text-align: left;
    position: relative;
    background-color: black;
    height: 45px;
    margin-top: 0;
    opacity: .7;
}
#cloud{
    height: 109px;
    width:200px;
    position: fixed;
    left: 43%;
    top: 200px;
    z-index: 120;
}
#mask{
    top: 0;
    left: 0;
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: dimgray;
    z-index: 500;
    opacity: .5;

}
#enter{
    position: absolute;
    z-index: 501;
    border: double;
    height:30%;
    width: 40%;
    background-color: antiquewhite;
    left:30%;
    top:35%;
    border-radius: 25px;
    text-align: center;

}
.dropbtn {
    position: relative;

    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#search{
    position: absolute;
    top:30%;
    left:20%;
    border: double;
    width: 60%;
    height:60%;
    background-color: beige;
}

#entertable{
    margin: 0 auto;
    margin-top:20px;
}
#meat{
    height: 30px;
    width: 200px;
}
#meat:hover{
    background-color: lightgray;
}
#vegan:hover{
    background-color:lightgray;
}
#vegan{
    height: 30px;
    width: 200px;
}
#extratitle{
    color: #4CAF50;
    position: relative;
    width:400px;
    top:-27px;
    left:48%;
    font-weight: bolder;
    font-size: x-large;
}
#map {
    height: 100%;
    width:100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.bolden{
    font-weight: bolder;
}
.choose{
    border: none;
}
.choose:hover{
    background-color: lightgray;
}
#showstats{
    z-index: 12;
    width: 30%;
    margin-left: 35%;
    height:30%;
    top: 30%;
    position: absolute;
    background-color: lightgreen;
    text-align: center;
}

.i{
    color: darkgreen;
}
#cancelshow {
    background-color: sandybrown;
    float: right;
}
#statsintro{
    font-weight: bold;
    font-size: 20px;
    /*color: ;*/
}
