body {
    background-image: url("http://perfometer.org/wp-content/uploads/2015/09/innercowhero-1024x631.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#calculate{
    font-weight: bolder;
    font-size: large;
    border: none;
    opacity: .75;
    height: 50px;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 15px;
    position: absolute;
    top: 160px;


}

#title{
    width: 40%;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    color: darkslategray;
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    right: 30%;

}
#signin{
    height: 30px;
    position:relative;
    margin-right:-4px;
    opacity: .75;
}
#createacc{
    height: 30px;
    position: relative;
    right:0px;
    opacity: .75;
}

#head{
    text-align: right;
    position: relative;
    background-color: black;
    height: 30px;
    margin-top: 0;
    opacity: .7;
}
#cloud{
    height: 109px;
    width:200px;
    position: fixed;
    left: 43%;
    top: 200px;
    z-index: 120;
}
#mask{
    top: 0;
    left: 0;
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: dimgray;
    z-index: 500;
    opacity: .5;

}
#enter{
    position: absolute;
    z-index: 501;
    border: double;
    height:30%;
    width: 40%;
    background-color: antiquewhite;
    left:30%;
    top:35%;
    border-radius: 25px;
    text-align: center;

}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#search{
    position: absolute;
    top:30%;
    left:30%;
}

#entertable{
    margin: 0 auto;
    margin-top:20px;
}
